FORMAT: 1A
HOST: https://public.e-ecology.sara.nl/aws/

# Annotation webservice

## Authentication

All requests must have a Basic authentication header.

## Tracker identifiers [/trackers]

+ Model (application/json)

        {
            "trackers": [{
                "id": 1
            },{
                "id": 2
            }]
        }

### Retrieve a list of tracker identifiers [GET]

+ Response 200

    [Tracker identifiers][]

## Track [/track/{tracker}/{start}/{end}]

+ Parameters
    + tracker (number, `355`) ... Tracker identifier.
    + start (string, `2010-06-28T00:00:00.000Z`) ... Start of track.
    + end (string, `2010-06-29T00:00:00.000Z`) ... End of track.

+ Model (application/json)

        [
            {
                "tspeed" : 2.23991,
                "time_acceleration" : [
                    0, 0.05, 0.1, 0.15, 0.2, 0.25, 0.3, 0.35, 0.4, 0.45,
                    0.5, 0.55, 0.6, 0.65, 0.7, 0.75, 0.8, 0.85, 0.9, 0.95,
                    1, 1.05, 1.1, 1.15, 1.2, 1.25, 1.3, 1.35, 1.4, 1.45,
                    1.5, 1.55, 1.6, 1.65, 1.7, 1.75, 1.8, 1.85, 1.9, 1.95
                ],
                "lat" : 52.99744,
                "z_acceleration" : [
                    1.3111, 1.6039, 1.7504, 1.019, -0.0046, 0.2876, 0.7754, 1.3604, 1.7011, 1.5554,
                    0.6775, 0.1168, 0.4097, 1.214, 1.5311, 1.8232, 1.3604, 0.3118, 0.239, 0.629,
                    1.2625, 1.6039, 1.6525, 0.9461, 0.1411, 0.3361, 0.8483, 1.3847, 1.7011, 1.6282,
                    0.7261, 0.1411, 0.3854, 1.1654, 1.4818, 1.7011, 1.2625, 0.3361, 0.2147, 0.5311
                ],
                "x_acceleration" : [
                    0.2051, -0.0356, -0.1455, -0.0426, -0.1223, 0.0952, 0.4056, 0.1331, 0.0163, -0.0286,
                    -0.1099, 0.0588, 0.1223, 0.346, 0.0836, -0.0797, -0.0449, -0.2043, 0.0565, 0.2128,
                    0.2446, 0.0279, -0.0534, -0.0495, -0.1935, 0.0441, 0.428, 0.1184, 0.0511, -0.0039,
                    -0.1006, 0.0356, 0.1556, 0.3452, 0.0975, -0.0875, -0.0433, -0.1803, 0.024, 0.1858
                ],
                "date_time" : "2010-06-28T00:27:58+00:00",
                "direction" : -162.87,
                "y_acceleration" : [
                    -0.0358, -0.3115, -0.281, -0.3077, 0.032, -0.1013, 0.0251, -0.2163, -0.4037, -0.3968,
                    -0.1569, 0.0244, -0.2148, -0.1752, -0.3511, -0.3846, -0.3077, -0.0183, -0.2087, -0.179,
                    -0.0708, -0.2331, -0.3503, -0.2445, 0.0571, -0.1889, -0.2254, -0.0838, -0.3222, -0.4303,
                    -0.2833, -0.0099, -0.1637, -0.1538, -0.2315, -0.3206, -0.3503, -0.0373, -0.0876, -0.1919
                ],
                "tdirection" : 14.31,
                "speed" : 12.51012,
                "lon" : 4.73637,
                "temperature" : 17.4,
                "altitude" : 19
            }
        ]

### Retrieve track data [GET]

Retrieve track data for a certain tracker of a certain time range.

+ Response 200

    [Track][]

## Classification job [/job/{job}]

Classification job generated with eEcology-Classification tool.

+ Parameters
    + job (number, `1`) ... Job identifier.

+ Model (application/json)

        {
            "tracker": {
                "id": 355,
                "start": "2010-06-28T00:00:00.000Z",
                "end": "2010-06-29T00:00:00.000Z"
            },
            "classifier": {
                "labels": [{
                    "id": 1,
                    "label": "flying",
                    "color": "rgb(255,0,0)"
                }]
            },
            "classifications": [{
                "ts": "2010-06-28T00:27:58+00:00",
                "class": 1
            }]
        }

### Retrieve classification job [GET]

To open a job in the annotation tool use https://annotation.e-ecology.cloudlet.sara.nl/aws/static/#job=1


+ Response 200

    [Classification job][]

## Annotations [/uploads/{table}/annotations.csv?id={tracker}&start={start}&end={end}]

+ Parameters
    + table (number) ... Postgresql schema and table which contains annotations.
    + tracker (number, `355`) ... Tracker identifier.
    + start (string, `2010-06-28T00:00:00.000Z`) ... Start of track.
    + end (string, `2010-06-29T00:00:00.000Z`) ... End of track.

### Retrieve annotations [GET]

+ Response 200 (application/json)

		device_info_serial, date_time, class_id
		355,2010-06-28T02:13:20+00:00,3

